<ion-view view-title="Dashboard">
  <ion-content class="padding login">
      <div style="margin-top:280px;">
          <form ng-submit="login(data)">
          <div class="list">
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input">
                  <i class="icon ion-key placeholder-icon"></i>
                  <input type="password" ng-model="data.password" placeholder="Contraseña">
                </label>
                <button type="submit" class="button button-balanced button-full">Ingresar</button>
                <a href="#/tab/registrar" class="button button-balanced button-full">Registrar</a>
                <div  style="text-align: center"><a href='#/tab/recover' style="color:#333; text-decoration:none;">¿Olvido su Contraseña?</a></div>
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
