<ion-view view-title="Dashboard">
  <ion-content class="padding registro">
      <div align="center" style="margin-top:40px; color:black;">
            <h3 style="color:black;">Crear Cuenta</h3>
      </div>
      <div style="margin-top:30px">
          <form ng-submit="personales(data)">
          <div class="list">
                <label class="item item-input item-floating-label">
                  <span class="input-label">Email: </span>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Contraseña: </span>
                  <input type="password" ng-model="data.password" placeholder="Contraseña">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Nombre Sucursal: </span>
                  <input type="text" ng-model="data.nombre_sucursal" placeholder="Nombre Sucursal">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Responsable: </span>
                  <input type="text" ng-model="data.responsable" placeholder="Responsable">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Calle </span>
                  <input type="text" ng-model="data.calle" placeholder="Calle">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">EXT: </span>
                  <input type="text" ng-model="data.ext" placeholder="EXT">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">INT: </span>
                  <input type="text" ng-model="data.nroint" placeholder="INT">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Colonia: </span>
                  <input type="text" ng-model="data.colonia" placeholder="Colonia">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Ciudad: </span>
                  <input type="text" ng-model="data.ciudad" placeholder="Ciudad">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">CP: </span>
                  <input type="text" ng-model="data.cp" placeholder="CP">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Teléfono Fijo: </span>
                  <input type="text" ng-model="data.telefono_fijo" placeholder="Teléfono Fijo">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Celular: </span>
                  <input type="text" ng-model="data.telefono_celular" placeholder="Teléfono Celular">
                </label>                
                <div class="item item-checkbox" ng-click="mostrarCondiciones(data.condiciones)" style="color:black;">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="data.condiciones">
                    </label>
                    <u>Leer</u> y aceptar las condiciones de uso
                </div>
                <button type="submit" class="button button-balanced button-full">Registrar</button>
                <!--<div class="social" style="margin:20px 0;">
                    <span>O conéctate con las redes sociales</span>
                </div>
                <div class="button-bar social">
                    <button class="button facebook" ng-click="fbLogin()" type="button"><i class="icon ion-social-facebook"></i> Facebook</button>
                </div>-->
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
