<ion-view view-title="Mi Balance">
  <ion-content class="has-header" style="padding-top:40px;">     
      <ion-refresher pulling-text="Suelta para actualizar" on-refresh="consultar()"></ion-refresher>
       <div class="card">            
           <div class="item item-text-wrap">
               <b>Cantidad de envíos hoy: </b> {{envioshoy}}
           </div>
           <div class="item item-text-wrap">
               <b>Cantidad de envíos al mes: </b>{{enviosmes}}
           </div>           
       </div>        
  </ion-content>
</ion-view>