<ion-view view-title="Pedido #{{detail.id}}">
  <ion-content class="has-header" style="padding-top:40px;">     
      <ion-refresher pulling-text="Suelta para actualizar" on-refresh="consultar()"></ion-refresher>
       <div class="card">
            <div class="item item-divider">
                <b>Datos Básicos</b>
            </div>
           <div class="item item-text-wrap">
               <b>Fecha Solicitud: </b> {{detail.fecha_solicitud}}
           </div>
           <div class="item item-text-wrap">
               <b>Fecha Entregado: </b>{{detail.fecha_entregado}}
           </div>
           <div class="item item-text-wrap">
               <b>Tiempo estimado de Entrega:</b> {{detail.tiempo_entrega}}
           </div>
           <div class="item item-text-wrap">
               <b>Datos del cliente </b>{{detail.sucursal}}
           </div>
           <div class="item item-text-wrap">
               <b>Estatus del envió: </b>{{detail.status=='1'?'En Tránsito':'Completado'}}
           </div>
           <div class="item item-text-wrap">
               <b>Banco para depósito: </b>{{detail.banco_deposito}}
           </div>
           <div class="item item-text-wrap">
               <b>Nro. Tarjeta de débito: </b>{{detail.tarjeta_debito}}
           </div>
           <div class="item item-divider">
               <b>Tareas: </b>
           </div>           
           <div class="item item-text-wrap" ng-repeat="d in detail.trayecto" ng-click="d.status==0?notificarRecogida(d):alert('envio ya notificado')">
               <i class="icon {{d.tipo==1?'ion-upload':'ion-android-download'}}" style="color:{{d.tipo==1?'red':'green'}}"></i> 
               {{d.tipo==1?'Recoger en ':'Enviar a '}}{{d.direccion}}  
               <i class="icon ion-checkmark-round" ng-if="d.status=='1'"></i>
               <span ng-if="d.status=='1'">{{d.fecha}}</span>
           </div>
       </div>
        <div class="item item-text-wrap">
               <a href="tel:{{detail.telefono}}" class="button button-assertive button-full"><i class="icon ion-ios-telephone"></i> Llamar</a>
        </div>
  </ion-content>
</ion-view>