<ion-view title="Datos del envio">
  <ion-content class="has-header">
      <ion-list>
          <div class="item item-divider">Faltaron algunos datos por completar</div>
        <div ng-repeat="group in groups">
          <ion-item ng-click="toggleGroup(group)">                    
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
              Ubicacion {{group.id+1}}
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown(group)">
            <div class="list">
                <label class="item item-input">
                     <input type="text" placeholder="Calle" ng-model="task[group.id].calle">
                </label>
                <label class="item item-input">
                     <input type="text" placeholder="No. Ext" ng-model="task[group.id].ext">
                </label>                          
                <label class="item item-input">
                     <input type="text" placeholder="No. Int" ng-model="task[group.id].int">
                </label>
                <label class="item item-input">
                     <input type="text" placeholder="Colonia" ng-model="task[group.id].colonia">
                </label>
                <label class="item item-input">
                     <input type="text" placeholder="Delegación" ng-model="task[group.id].delegacion">
                </label>
                <label class="item item-input">
                     <input type="text" placeholder="CP" ng-model="task[group.id].cp">
                </label>
                <label class="item item-input">
                     <input type="text" placeholder="Ciudad" ng-model="task[group.id].ciudad">
                </label>
                <label class="item item-input">
                     <input type="text" placeholder="Observaciones" ng-model="task[group.id].localidad">
                </label>
                <label class="item item-input" ng-if="group.id>0">
                    <input type="text" placeholder="Nombre del cliente" ng-model="task[group.id].cliente">
               </label>
                  <div class="item item-divider" ng-if="group.id>0">
                    ¿Desea hacer algún cobro?
                  </div>
                  <div class="item item-text-wrap" ng-if="group.id>0">
                      <div class="button-bar">
                            <button ng-click="task[group.id].tipo_pago = '1'" class="button {{task[group.id].tipo_pago==1?'button-assertive':''}}"><i class="icon ion-cash"></i></button>
                            <button ng-click="task[group.id].tipo_pago = '0'" class="button {{task[group.id].tipo_pago==0?'button-assertive':''}}"><i class="icon ion-card"></i></button>
                      </div>
                  </div>
                  <div class="item item-text-wrap" ng-if="group.id>0">
                      <label class="item item-input">
                        <input type="text" placeholder="$ Total (IVA Incluido)" ng-model="task[group.id].precio">
                       </label>
                  </div>
            </div>
          </ion-item>
        </div>
        <button ng-click="continuar(task)" class="button button-balanced button-block">Continuar</button>
      </ion-list>
  </ion-content>
</ion-view>