<ion-view title="{{nombre}}">
  <ion-content class="has-header padding">          
        <div class="card">
            <div class="item item-divider">
              Datos de pago del pedido
            </div>
          <div class="item item-text-wrap">            
                <b>Cantidad de envios</b>
                {{task}}              
          </div>
          <div class="item item-text-wrap">            
                <b>Precio</b>
                $ {{precio}}              
          </div>
          <div class="item">
                <b>Saldo disponible: </b>
                $ {{gratis}}
          </div>
          <div class="item">
                <label class="item item-input">
                    <b class="input-label">Costo recolección $</b>
                    <input type="number" ng-model="pagosucursal" ng-change="validarValores(pagocliente,pagosucursal)">
                </label>
          </div>
          <div class="item">
                <label class="item item-input">
                    <b class="input-label">Costo entrega $</b>
                    <input type="number" ng-model="pagocliente" readonly="">
                </label>
          </div>
        </div>
      <div class="button-bar">
        <a href="#/tab/main" class="button button-assertive">Cancelar</a>
        <div ng-click="aceptar(pagocliente,pagosucursal)" class="button button-royal" ng-if="!toking">Aceptar</div>    
      </div>
      
  </ion-content>
</ion-view>