<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <div class="list">
        <div class="item item-divider">
          Balance
        </div>
        <div class="item">
            <i class="icon ion-reply"></i> Envíos de hoy: {{detail.envios_hoy}}
        </div>
        <div class="item">
            <i class="icon ion-reply-all"></i> Envíos del mes: {{detail.envios_mes}}
        </div>
        <div class="item">
            <i class="icon ion-share"></i> Saldo disponible $ {{detail.envios_sin_costo}}
        </div>
        <div class="item">
            <i class="icon ion-cash"></i> Cobros : $ {{detail.costo==null?0:detail.costo}}
        </div>
      </div>
  </ion-content>
</ion-view>