<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <ion-list>
          <div class="item item-divider">Datos de registro</div>            
            <ion-item ng-click="toggleGroup(0)">                    
                <i class="icon" ng-class="isGroupShown(0) ? 'ion-minus' : 'ion-plus'"></i>
                Datos personales
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(0)">
              <div class="list">
                    <label class="item item-input">
                        <input type="email" placeholder="Email" ng-model="datos.email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Contraseña" ng-model="datos.password">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Nombre sucursal" ng-model="datos.nombre_sucursal">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Responsable" ng-model="datos.responsable">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Teléfono Fijo" ng-model="datos.telefono_fijo">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Celular" ng-model="datos.telefono_celular">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Contrato" ng-model="datos.contrato">
                    </label>
                    <label class="item item-input">
                      <input type="text" ng-model="datos.nombre_tarjeta" placeholder="Nombre Tarjeta Habiente">
                    </label>
                    <label class="item item-input">
                      <input type="text" ng-model="datos.tarjeta" placeholder="{{tarjetin}}">
                    </label>
                    <label class="item item-input">
                      <input type="password" ng-model="datos.cvc" placeholder="CVC">
                    </label>
                    <label class="item item-input">
                      <input type="number" ng-model="datos.mes" placeholder="Mes de vencimiento">
                    </label>
                    <label class="item item-input">
                      <input type="number" ng-model="datos.anio" placeholder="Año de vencimiento">
                    </label>
              </div>
          </ion-item>
            <ion-item ng-click="toggleGroup(1)">                    
                <i class="icon" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>
                Datos de depósito
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(1)">
              <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Banco emisor" ng-model="datos.banco_deposito">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Nro. Tarjeta de debito" ng-model="datos.tarjeta_debito">
                    </label>                    
              </div>
          </ion-item>
          <ion-item ng-click="toggleGroup(2)">                    
                <i class="icon" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i>
                Llaves de CONEKTA
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(2)">
              <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Private Key" ng-model="datos.private_key">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Public Key" ng-model="datos.public_key">
                    </label>                    
              </div>
          </ion-item>
          <ion-item ng-click="toggleGroup(3)">                    
                <i class="icon" ng-class="isGroupShown(3) ? 'ion-minus' : 'ion-plus'"></i>
                Repartir cargas
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(3)">
              <div class="list">
                    <label class="item item-input">
                        <input type="number" placeholder="Porcentaje de pago sucursal" ng-model="datos.porcentaje_sucursal">
                    </label>
                    <label class="item item-input">
                        <input type="number" placeholder="Porcentaje de pago cliente" ng-model="datos.porcentaje_cliente">
                    </label>                    
              </div>
          </ion-item>
        <button ng-click="send(datos)" class="button button-balanced button-block">Actualizar datos</button>
        </ion-list>
  </ion-content>
</ion-view>