<ion-view title="Nuevo Envío">
  <ion-content class="has-header">
            <div class="card">
                  <div class="item item-divider">
                    ¿Dónde será la entrega?
                  </div>
                  <div class="item item-text-wrap">
                      <div class="button-bar">
                          <a class="button button-royal" ng-click="datos.ownposition = true" ng-disabled="datos.ownposition==true"><i class="icon ion-ios-location"></i> Aquí</a>
                          <a class="button button-energized" ng-click="datos.ownposition = false" ng-disabled="datos.ownposition==false">Otra Ubicación</a>
                        </div>
                  </div>
             </div>

            <div class="card">
                  <div class="item item-text-wrap">
                      <div class="list">
                          <label class="item item-input">                              
                              <places-autocomplete ng-model="datos.direccion_entrega" ng-disabled="datos.ownposition==true" selectfields="selectFieldsFunction" ng-focus="disabletap()"></places-autocomplete>
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Calle" ng-model="datos.calle" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="No. Ext" ng-model="datos.ext" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="No. Int" ng-model="datos.int" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Colonia" ng-model="datos.colonia" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Delegación" ng-model="datos.delegacion" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Ciudad" ng-model="datos.ciudad" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="CP" ng-model="datos.cp" ng-disabled="datos.ownposition==true">
                          </label>                          
                          <label class="item item-input">
                               <input type="text" placeholder="Observaciones" ng-model="datos.localidad_entrega">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Nombre del cliente" ng-model="datos.nombre">
                          </label>
                        </div>
                  </div>
             </div>
          
            <div class="card">
                  <div class="item item-divider">
                    ¿Desea hacer algún cobro?
                  </div>
                  <div class="item item-text-wrap">
                      <div class="item item-input">
                        <div class="button-bar">
                            <button ng-click="datos.tipo_pago = '1'" class="button {{datos.tipo_pago==1?'button-assertive':''}}"><i class="icon ion-cash"></i></button>
                            <button ng-click="datos.tipo_pago = '2'" class="button {{datos.tipo_pago==2?'button-assertive':''}}"><i class="icon ion-card"></i></button>
                        </div>
                      </div>
                      <label class="item item-input">
                        <input type="text" placeholder="$ Total (IVA Incluido)" ng-model="datos.precio">
                       </label>
                  </div>
             </div>
             <button ng-click="enviarPedido(datos,false)" class="button button-balanced button-full">Siguiente</button>
  </ion-content>
</ion-view>
