<ion-view title="Direcciones favoritas">
  <ion-content class="has-header">
      <ion-refresher pulling-text="Suelta para actualizar" on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <a ng-if="add" class="item button button-block button-balanced" href="#tab/favoritos/add/1">
                Añadir dirección
            </a>
            <div class="item" ng-if="lista.length==0">Sin direcciones almacenadas</div>            
            <a class="item" ng-click="clickFav(i.id,i)" ng-repeat="i in lista">
                {{i.apodo}}
            </a>
        </div>
  </ion-content>
</ion-view>