<ion-view title="Añadir Favorito">
  <ion-content class="has-header">        
        <div class="card">
              <div class="item item-text-wrap">
                  <div class="list">
                      <label class="item item-input">                              
                          <places-autocomplete  ng-focus="disabletap()" ng-model="datos.direccion"  selectfields="selectFieldsFunction"></places-autocomplete>
                      </label>
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="Calle" ng-model="datos.calle">
                      </label>
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="No. Ext" ng-model="datos.ext">
                      </label>                          
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="No. Int" ng-model="datos.int">
                      </label>
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="Colonia" ng-model="datos.colonia">
                      </label>
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="Delegación" ng-model="datos.delegacion">
                      </label>
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="CP" ng-model="datos.cp">
                      </label>
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="Ciudad" ng-model="datos.ciudad">
                      </label>
                      <label class="item item-input" ng-show='buscada=="1"'>
                           <input type="text" placeholder="Establecimiento/Residencial" ng-model="datos.localidad">
                      </label>
                    </div>
              </div>
         </div>

         <div class="card">
              <div class="item item-divider">
                ¿Desea almacenar esta dirección?
              </div>
              <div class="item item-text-wrap">
                  <div class="button-bar">
                      <button ng-click="enviarPedido(datos,false)" class="button button-balanced">Confirmar ubicación</button>                          
                  </div>
              </div>
         </div>
  </ion-content>
</ion-view>