<ion-view title="Direcciones favoritas">
  <ion-content class="has-header">
      <div class="card">
          <div class="list">
              <div class="item-divider">
                  Dirección
              </div>
              <div class="item item-text-wrap">
                {{detail.nombre}}
              </div>
              <div class="item">
                  <app-map center="basel" zoom="16" widthmap="'300px'" heightmap="'300px'"></app-map>
              </div>
              <div class="button button-block button-assertive" ng-click="eliminar(detail.id)">
                Eliminar
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>