<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <div style="margin-top:30px; text-align: center;" class="">          
          <img src="img/boton-inicio.png" style="width:90%">
      </div>
      <div class="card">
          <div class="item item-divider" align="center">
            ¿Llamar a un repartidor?
          </div>
          <div class="item item-input item-select">                
                <div class="input-label">
                  ¿Cuántos envíos necesitas?
                </div>
                <select ng-model="pedidos">
                  <option value="1" selected="">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
        </div>
          <div class="row" ng-controller="EnviosFav" style="text-align:center">
            <div class="col-20"  ng-click="selFavMainSendFav(i.id,i)" ng-repeat="i in lista" style="font-size:12px;">
                <img src="img/favorito.png" style="width:100%;"><br/>
                {{i.apodo}}
            </div>
        </div>
        <div class="item">                
            <button class="button button-assertive button-block" ng-disabled="task.length===0 || pedidos===undefined" ng-click="pedirRepartidor(pedidos)">
                <i class="icon ion-android-download"></i> Solicitar repartidor {{task.length>0?'en '+task[0].apodo:''}}
            </button>
        </div>
      </div>
      <div class="card" ng-controller="MainSend">
          <div class="item item-divider" align="center">
            ¿Deseas hacer un envío especial?
          </div>
          <div class="item">
            <div class="button-bar">
                <a class="button button-royal" ng-click="recolecta.show()"><i class="icon ion-upload"></i> Envío Especial</a>                
            </div>
          </div>
      </div>
  </ion-content>
</ion-view>