<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <ion-list>
          <div class="item item-divider">Faltaron algunos datos por completar</div>
        <div ng-repeat="group in groups">
          <ion-item ng-click="toggleGroup(group)">                    
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
              Group {{group.name}}
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>
  </ion-content>
</ion-view>