<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <ul class="list">
            <!--<li class="item item-toggle">
              Mantener conexión
              <label class="toggle toggle-balanced">
                  <input type="checkbox" ng-model="repartidorKeepRunning" ng-change="toggleRepartidorKeepRunning(repartidorKeepRunning)">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
            </li>
            <li class="item item-toggle">
               Working
               <label class="toggle toggle-balanced">
                   <input type="checkbox" ng-model="workin" ng-change="toggleWorkin(workin)">
                 <div class="track">
                 <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               Siniestro
               <label class="toggle toggle-assertive">
                 <input type="checkbox" ng-model="siniestro" ng-change="toggleSiniestro(siniestro)">
                 <div class="track">
                 <div class="handle"></div>
                 </div>
               </label>
            </li>
            <li class="item item-toggle">
               Sin espacio
               <label class="toggle toggle-energized">
                 <input type="checkbox" ng-model="carga" ng-change="toggleCarga(carga)">
                 <div class="track">
                 <div class="handle"></div>
                 </div>
               </label>
            </li>-->
            <li class="item">
                Notificación de proximidad: <b>{{proximidad}}mts</b>
            </li>
            <li class="item range">               
                <i class="icon ion-ios-paperplane-outline"></i>
                    <input type="range" ng-model="proximidad" min="200" max="500" ng-change="saveProximidad(proximidad)">
                <i class="icon ion-ios-paperplane"></i>
            </li>
      </ul>
  </ion-content>
</ion-view>