<ion-view view-title="{{nombre}}">
  <ion-content style="">
        <app-map center="basel" zoom="17" markers="whoiswhere" pedidoclick="pedidoclick" icon="iconMap"></app-map>
        <div ng-show="direccion!==''" style="background:rgba(255,255,255,.8); position:fixed; width:100%; padding:20px; bottom:140px;">
            <div>
                {{direccion}}
            </div>
            <button class="button button-block button-assertive" ng-click="openNavigation()"><i class="icon ion-ios-navigate"></i> Abrir navegación</button>
        </div>
  </ion-content>
</ion-view>