<ion-view title="{{nombre}}">
  <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
              Mensajes
            </div>
            <a class="item" href="#tab/mensajes/{{i.id}}" ng-repeat="i in lista">
                No. Envío: {{i.id}}
            </a>
      </div>
  </ion-content>
</ion-view>