<ion-view view-title="">
  <ion-content class="has-header" style="padding-top:40px;">      
       <div class="card">
            <div class="item item-divider">
                <b>No. envío </b> {{detail.id}}
            </div>
            <div class="item item">
                <div class="item item-text-wrap">
                    <div class="list">
                        <div class="item item-text-wrap">
                            <div class="button-bar">
                                  <button ng-click="detail.tipo_pago = '1'" class="button {{detail.tipo_pago==1?'button-assertive':''}}"><i class="icon ion-cash"></i></button>
                                  <button ng-click="detail.tipo_pago = '0'" class="button {{detail.tipo_pago==0?'button-assertive':''}}"><i class="icon ion-card"></i></button>
                            </div>
                        </div>
                        <label class="item item-text-wrap">
                            <b>Monto: </b>$ {{detail.precio}}
                        </label>
                        <label class="item item-text-wrap">
                            <b>Costo entrega </b>$ {{detail.costo_entrega.toFixed(2)}}
                        </label>
                        <label class="item item-input" ng-if="detail.tipo_pago=='0'">
                            <input type="text" placeholder="Email del tarjeta habiente" ng-model="datos.email">
                        </label>
                        <label class="item item-input" ng-if="detail.tipo_pago=='0'">
                            <input type="text" placeholder="Nombre Tarjeta Habiente" ng-model="datos.nombre">
                        </label>
                        <label class="item item-input" ng-if="detail.tipo_pago=='0'">
                            <input type="text" placeholder="Numero de Tarjeta" ng-model="datos.tarjeta">
                        </label>
                        <label class="item item-input" ng-if="detail.tipo_pago=='0'">
                            <input type="text" placeholder="CVC" ng-model="datos.cvc">
                        </label>
                        <label class="item item-input item-select" ng-if="detail.tipo_pago=='0'">
                            <div class="input-label">
                                Mes de vencimiento
                            </div>
                            <select ng-model="datos.mes" ng-if="detail.tipo_pago=='0'">
                                <option ng-repeat="i in meses">{{i}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select" ng-if="detail.tipo_pago=='0'">
                            <div class="input-label">
                                Año de vencimiento
                            </div>
                            <select ng-model="datos.anio">
                                <option ng-repeat="i in anios">{{i}}</option>
                            </select>
                        </label>
                        <label class="item item-input" ng-if="detail.tipo_pago=='0'">
                            <input type="text" placeholder="Teléfono" ng-model="datos.telefono">
                        </label>
                    </div>
                    <button ng-click="detail.tipo_pago=='0'?procesarPago(datos):cargarPagoEfectivo(datos)" ng-if="!sendit" class="button button-balanced button-full">Procesar Pago en {{ detail.tipo_pago=='0'?'Tarjeta':'Efectivo'}}</button>
                </div>
            </div>
       </div>
      
  </ion-content>
</ion-view>