<ion-modal-view ng-controller="MainSend">
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Debes llenar los datos del pedido</h1>
 </div>
    <ion-content class="padding" style="margin-top:50px;">
        <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);" id="recolecta">
            <div class="card">
              <div class="item item-divider" style="text-align:center">
                  ¿Donde se recogerá el producto?
              </div>
              <div class="item item-input-inset">
                  <label class="item-input-wrapper">
                        {{datos.init}}
                  </label>                  
              </div>
            </div>
            
            <div class="card">
              <div class="item item-divider" style="text-align:center">
                ¿Donde se entregaran?
              </div>
              <div class="item item-input-inset" ng-repeat="i in entregainput.input">
                  <label class="item-input-wrapper">
                    <places-autocomplete ng-focus="disabletap(i)" ng-model="datos.direccion[i]" selectfields="selectFieldsFunction"></places-autocomplete>
                  </label>                  
              </div>
          </div>
          <div class="button-bar">
            <button ng-click="sendDatos(datos)" class="button button-balanced">Continuar</button>            
          </div>
            <p><button ng-click="close()" class="button button-full button-assertive">Cerrar</button></p>
        </div>
    </ion-content>
</ion-modal-view>

