<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <div align="center" style="margin-top:40px">
            <img src="img/logo.png" style="width:70%">
      </div>
      <div style="margin-top:30px">
          Pedido Nro: {{id}}
      </div>
  </ion-content>
</ion-view>
