<ion-modal-view>
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Seleccione un repartidor</h1>
 </div>
    <ion-content class="padding" style="margin-top:50px;">
        <div class="list">
            <div class="item  item-avatar" ng-click="asignar('0');">
                <img src="img/vacio.jpg"> Asignación automática
            </div>
            <div class="item  item-avatar" ng-click="asignar(i.id,i);" ng-repeat="i in repartidores | orderBy:'tareas'">
                <img src="{{'http://74.208.12.230/pizzasapp/images/repartidores/'+i.foto}}"> 
                {{i.nombre_repartidor}} <br/> <small style="color:gray">Tareas pendientes: {{i.tareas}}</small>
            </div>
      </div>
    </ion-content>
</ion-modal-view>

