<ion-modal-view>
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Término de Servicio “Delivery Mix” </h1>
 </div>
    <ion-content class="padding" style="margin-top:50px; text-align: justify">
            <div>
            <p align="center"><span style="font-size: large; color: #ff0000;">Término de Servicio “Delivery Mix”</span></p>
            </div>
            <p><strong>CONTRATO DE PRESTACION DE SERVICIOS DE “Entrega a Domicilio” que celebran, por una parte, “Delivery Mix” a quien en lo sucesivo se le denominará "El proveedor" y por otra parte "El cliente" cuyos datos figuran al inicio de sesión.</strong></p>
            <p><strong>Las partes dan su conformidad a la modalidad del servicio contratado, e instrucciones señaladas en el anverso de esta GUIA el cual se sujetará a las siguientes:</strong></p>
            <p><strong>CLAUSULAS</strong></p>
            <p><strong>PRIMERA.- El proveedor se obliga para con El cliente a entregar el envío en el domicilio del destinatario en los términos e instrucciones descritos en el apartado de “Dirección de Envío” en la aplicación.</strong></p>
            <p><strong>SEGUNDA.- El proveedor se obliga a entregar puntualmente el envío siempre y cuando El cliente haya cumplido con sus tiempos de entrega a los repartidores. El plazo se contará a partir de la recepción del ENVIO, por lo que deben considerarse los plazos de entrega de el proveedor publicados en el apartado “Tiempo de entrega aproximado” en la aplicación.</strong></p>
            <p><strong>TERCERA.- El cliente se obliga para con El proveedor:<br /> a) a pagar la tarifa y los impuestos del servicio;<br /> b) a responder de la veracidad de lo por él declarado en este contrato, manifestando bajo protesta de decir verdad que posee legalmente el ENVIO y que cuenta con la facultad para celebrar este contrato;<br /> c) a sacar en paz y a salvo a El provedor así como a su personal, representantes y transportistas de cualquier reclamación o responsabilidad que surja por el contenido del ENVIO y deberá pagar contra la presentación de simple recibo los daños y perjuicios en que se haya incurrido;<br /> d) a pagar contra entrega del ENVIO los gastos y costas por almacenaje y/o devolución del ENVIO a su lugar de origen, motivado por errores no imputables a EL proveedor.</strong></p>
            <p><strong>CUARTA.- El cliente reconoce y acepta que:<br /> a) el servicio será prestado siempre y cuando El cliente haya insertado inequívocamente los datos necesarios del envío;<br /> b) El proveedor elegirá el transporte;<br /> c) si el contenido no concuerda con lo declarado o es de aquellos comprendidos en la cláusula décima, El proveedor queda automáticamente liberado de sus obligaciones y avisará a El cliente sobre el lugar y condiciones del ENVIO para que éste asuma sus responsabilidades;<br /> d) El proveedor tiene derecho mas no la obligación de inspeccionar el ENVIO por lo que podrá exigir  El cliente su apertura y reconocimiento, si éste se rehusare, El proveedor quedará libre de cualquier responsabilidad;<br /> e) El proveedor tendrá el derecho de retener el ENVIO cuando El cliente le adeude cargos por el servicio contratado, sin perjuicio de que éste deduzca las acciones que le correspondan.</strong></p>
            <p><strong>QUINTA.- Las partes convienen en que si el valor del ENVIO no es declarado y sufre, por causa imputable a El proveedor, la pérdida total, daños o menoscabos, éste pagará como máxima responsabilidad por la pérdida o daño, la cantidad equivalente del paquete en la fecha en que se haya recibido y documentado el ENVIO. El cliente deberá justificar el valor comercial de la pérdida o de su reparación.</strong></p>
            <p><strong>SEXTA.- Si El proveedor no cumple con el plazo de entrega por causa a ella imputable, a petición escrita por El cliente, El proveedor le proporcionará gratuitamente un servicio similar al contratado en la misma zona y hasta por el mismo costo del ENVIO demorado. Este servicio adicional será intransferible y deberá ser utilizado dentro de los 12 meses contados a partir del día en que fue recibido y documentado el ENVIO demorado. Salvo la responsabilidad que en esta cláusula tiene El proveedor, las partes convienen en que El proveedor no asume ninguna otra responsabilidad por demora en la recolección, documentación, transportación o entrega del ENVIO.</strong></p>
            <p><strong>SEPTIMA.- Las partes convienen que en caso de pérdida, daño o demora, por ningún motivo El proveedor será responsable de los perjuicios directos o indirectos causados al cliente, al DESTINATARIO o a cualquier tercero, incluyendo en ello, sin limitación alguna, pérdidas de venta, de ganancias, de intereses, de utilidades esperadas, de pérdidas de mercado, etc. En todo caso, ambas partes están conformes en que las responsabilidades que El proveedor asume son exclusivamente las previstas en las cláusulas quinta y sexta.</strong></p>
            <p><strong>OCTAVA.- Las partes convienen en que El proveedor no será responsable por pérdida, daños, mala entrega, no entrega o entrega demorada del ENVIO causada por:<br /> a) caso fortuito, fuerza mayor u otra causa fuera del control de El proveedor;<br /> b) por actos o disposiciones de cualquier autoridad;<br /> c) incorrecta o incompleta información del domicilio del DESTINATARIO;<br /> d) daño eléctrico o magnético, borradura o cualquier otro daño a imágenes electrónicas, fotográficas o grabadas de cualquier tipo;<br /> e) utilizar El cliente un embalaje o empaque insuficiente o inadecuado.</strong></p>
            <p><strong>NOVENA.- En caso de extravío El cliente deberá presentar su reclamación por escrito a El proveedor dentro de 1 hora contada a partir de la hora en que entregó a El proveedor el ENVIO. Las reclamaciones serán dirigidas al departamento de atención a clientes de El proveedor en México, D.F. Quien reciba en el destino el ENVIO, firmará de conformidad y en caso de pérdida parcial o daño efectuará la reclamación al momento.</strong></p>
            <p><strong>DECIMA.- El proveedor no acepta recibir ENVIOS que contengan: dinero, instrumentos o títulos negociables, joyas, antigüedades, metales preciosos, piezas de arte, carbones o diamantes industriales, licores y vinos, armas, explosivos, y animales, materiales obscenos u ofensivos, efectos restringidos por las leyes o por disposiciones de autoridad y/o por la IATA, incluyendo materiales peligrosos en su manejo, tales como corrosivos o inflamables, de fácil descomposición y aquellos que despidan malos olores, así como tampoco artículos de procedencia extranjera que no se encuentren legalmente amparados con la documentación que acredite su legal internación al país, debiendo adjuntar al ENVIO, el original o copia certificada notarial.</strong></p>
            <p><strong>DECIMA PRIMERA.- SEGURO OPCIONAL.- Si el valor comercial del ENVIO es declarado, previo pago correspondiente que haga EL cliente, EL proveedor deberá contratar con compañía autorizada un seguro a favor del cliente. Las reclamaciones serán presentadas directamente a la compañía de seguros quedando obligado el Proveedor a entregar el aviso de pérdida o daño dirigido a la aseguradora.</strong></p>
            <p><strong>DECIMA SEGUNDA.- Para la interpretación o cumplimiento de este contrato, las partes señalan como competentes dentro de la esfera de sus atribuciones y según sea el caso, a la Procuraduría Federal del Consumidor y a los Tribunales del Fuero Común del Distrito Federal, y a las leyes que rigen en la Ciudad de México, renunciando expresamente a cualquier otro fuero que por su domicilio presente o futuro pudiera corresponderles.</strong></p>
            <p> </p>
            <p> </p>
            <div>
            <p><span style="font-size: large; color: #ff0000;">Aviso de Privacidad</span></p>
            </div>
            <p><strong>Si usted elige registrarse o proporcionar su información personal en nuestra APP, entendemos que acepta el uso de las políticas del Aviso de Privacidad de “Delivery Mix” .</strong></p>
            <p><strong>“Delivery Mix” es responsable de recabar sus datos personales, del uso que se le de a los mismos así como de su protección.</strong></p>
            <p><strong>“Delivery Mix” le asegura que sus políticas de mercadotecnia cumplen a cabalidad con las leyes, estándares y procedimientos aplicables a la protección de su información personal, a su uso exclusivo para la empresa y no compartición de su información o bases de datos a terceros, y a la obtención del consentimiento necesario antes de enviar un correo electrónico con cualquier clase de información.</strong></p>
            <p><strong>Entre la información que se podría solicitar, se encuentran: su nombre, apellido, correo electrónico, teléfono, celular, edad, Información financiera básica y datos de contacto vía redes sociales cuando así aplique.</strong></p>
            <p><strong>Sus datos personales serán utilizados con la finalidad de entregar un servicio de muy alta calidad.</strong></p>
            <p><strong>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto con nuestro departamento de datos personales en Eucalipto # 22 Torre AB Of 2306, Colonia Jesús del Monte, Huixquilucan Estado de México, o al correo electrónico info@deliverymix.com.mx</strong></p>
            <p><strong> Si usted desea dejar de recibir mensajes promocionales de nuestra parte, puede solicitarlo al correo electrónico info@deliverymix.com.mx</strong></p>
            <p><strong> Delivery Mix, se reserva el derecho de realizar cambios al Aviso de Privacidad en cualquier momento. Y podrán ser consultados en </strong><a href="http://www.deliverymix.com.mx/avisodeprivacidad"><strong>http://www.deliverymix.com.mx/avisodeprivacidad</strong></a></p>
            <p><strong>Fecha última actualización 21 de Octubre, 2015.</strong></p>
        <p><button class="button button-full button-assertive" ng-click="toggleModal('hide')">Cerrar</button></p>
    </ion-content>
</ion-modal-view>

