<ion-modal-view>
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Datos del pedido</h1>
 </div>
    <ion-content class="padding" style="margin-top:50px;">
      <div style="margin-top:10px; text-align: center;" ng-controller="EnviosFav">          
          <div class="row">
            <a class="col-20" ng-click="selFavMainSend(i.id,i)" ng-repeat="i in lista">
                <img src="img/favorito.png" style="width:100%;">
                {{i.apodo}}
            </a>
          </div>
      </div>
        <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);" id="recolecta">
            <div class="card">
              <div class="item item-divider" style="text-align:center">
                  ¿Donde quieres recoger el producto?
              </div>
              <div class="item item-input-inset">
                  <label class="item-input-wrapper">
                      <places-autocomplete ng-model="task[0].direccion" tipo="1" indice="0" style="width:100%; border:0px" selectfields="selectFieldsFunction"> </places-autocomplete>
                  </label>
                  <button class="button button-small" ng-click="gps()">
                      <i class="icon ion-ios-location-outline"></i>
                  </button>
              </div>
            </div>
            
            <div class="card">
              <div class="item item-divider" style="text-align:center">
                ¿Donde se entregará?
              </div>
              <div class="item item-input-inset" ng-repeat="i in task" ng-if="$index>0">
                  <label class="item-input-wrapper">
                    <places-autocomplete ng-model="task[$index].direccion" tipo="0" indice="$index" style="width:100%; border:0px" selectfields="selectFieldsFunction" indice="$index"> </places-autocomplete>
                  </label>
                  <button class="button button-small" ng-click="addTask()">
                      <i class="icon ion-ios-plus"></i>
                  </button>
                  <button class="button button-small" ng-click="remTask($index)">
                      <i class="icon ion-ios-minus"></i>
                  </button>
            </div>
          </div>
          <div class="button-bar">
            <button ng-click="sendDatos(datos)" class="button button-balanced">Ahora</button>
            <button ng-click="programar(datos)" class="button button-assertive"><i class="icon ion-clock"></i> Programar</button>
          </div>
            <p><button ng-click="recolecta.hide();" class="button button-full button-assertive">Cerrar</button></p>
        </div>
    </ion-content>
</ion-modal-view>

