<ion-modal-view>
 <div class="bar bar-header bar-balanced">
    <h1 class="title">Programar recolecta</h1>
 </div>
    <ion-content class="padding" style="margin-top:50px;">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-calendar placeholder-icon"></i>
                <input type="date" placeholder="Indicar Fecha" ng-model="d.fechas">
            </label>
            <label class="item item-input">
                <i class="icon ion-clock placeholder-icon"></i>
                <input type="time" placeholder="Indicar Hora"  ng-model="d.hora">
            </label>
            <div class="button-bar">
                <button ng-click="selectFecha(datos,d)" class="button button-balanced">Continuar</button>
              </div>
            <div class="button-bar">
                <button ng-click="programarModal.hide()" class="button button-balanced">Atrás</button>
              </div>
        </div>
    </ion-content>
</ion-modal-view>

